.index-content {
  width: 100%;
}
.index-content .index-content-top .p-aa {
  color: #dab72c;
  font-size: 20px;
  margin-bottom: 45px;
}
.index-content .index-content-top img {
  width: 100%;
}
.index-content .index-content-top .content-left {
  position: relative;
}
.index-content .index-content-top .content-left .content-left-aa {
  width: 100%;
  height: 100%;
  background: rgba(208, 175, 81, 0.4);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.index-content .index-content-top .content-left .content-left-aa p {
  font-size: 30px;
  text-align: center;
  margin-top: 200px;
  color: #FFFFFF;
}
.index-content .index-content-center {
  width: 100%;
  background: #EFEFEF;
  margin: 25px 0px 28px 0px;
  padding-bottom: 30px;
}
.index-content .index-content-center h1 {
  margin-top: 50px;
}
.index-content .index-content-center .center-left {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  max-width: 100%;
}
.index-content .index-content-center .center-left:hover .product-type-img {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.index-content .index-content-center .center-left:hover .center-left1 {
  opacity: 1;
}
.index-content .index-content-center .center-left .center-left1 {
  cursor: pointer;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(208, 131, 81, 0.15);
  z-index: 1000;
  opacity: 0;
  transition: all 0.3s ease;
}
.index-content .index-content-center .center-left .center-left1 .center-left1-aa {
  border: 1px solid #D0AF51;
  text-align: center;
  width: 80%;
  height: 80%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.index-content .index-content-center .center-left .center-left1 .center-left1-aa h3,
.index-content .index-content-center .center-left .center-left1 .center-left1-aa p {
  font-size: 1.1em;
  color: #fff;
  font-size: 20px;
}
.index-content .index-content-center .center-left .center-left1 .center-left1-aa .fa {
  border: 2px solid #D0AF51;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-top: 9px;
}
.index-content .index-content-center .center-left .center-left1 .center-left1-aa .fa img {
  width: 30px;
}
.index-content .index-content-center .center-left .center-left1 .center-left1-aa .fa.white-border {
  border-color: #fff;
}
.index-content .index-content-center .center-right {
  width: 100%;
  height: 595px;
  border: 1px solid #dab72c;
  margin-bottom: 30px;
}
.index-content .index-content-center .center-right .center-right1 {
  width: 520px;
  height: 558px;
  background: #FFFFFF;
  margin: 15px;
  border: 1px solid #dab72c;
}
.index-content .index-content-bttom .index-row {
  margin-top: 30px;
  margin-bottom: -10px;
}
.index-content .index-content-bttom .index-row .index-row-aa {
  text-align: center;
  margin-top: 50px;
}
.index-content .index-content-bttom .index-row .index-row-aa h3 {
  padding: 15px;
  color: #dab72c;
}
.index-content .index-content-bttom .index-row .index-row-aa p {
  font-size: 16px;
  padding: 15px;
}
.index-content .index-content-bttom1 {
  background: #EFEFEF;
  width: 100%;
  margin-top: 35px;
  padding-bottom: 30px;
}
.index-content .index-content-bttom1 .index-bottom1 {
  width: 100%;
  background: #FFFFFF;
  height: 180px;
  border: 2px solid #dab72c;
}
.index-content .index-content-bttom1 .index-bottom1 .index-bottom1-left {
  width: 120px;
  height: 150px;
  margin: 46px 10px 0px 10px;
  float: left;
}
.index-content .index-content-bttom1 .index-bottom1 .index-bottom1-left img {
  width: 100%;
}
.index-content .index-content-bttom1 .index-bottom1 .index-bottom1-right {
  margin-top: 15px;
}
.index-content .index-content-bttom1 .index-bottom1 .index-bottom1-right dd {
  text-indent: 2em;
}
.index-content .index-content-bttom1 .index-bottom1 .index-bottom1-right a {
  color: #000000;
  text-decoration: none;
}
.nav-tabs > li > a {
  font-size: 20px;
}
a {
  color: #dab72c;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */
